@import '../../node_modules/jeet/stylus/jeet' // TODO refactor
@import '../../node_modules/rupture/rupture' // TODO refactor
@import '../../node_modules/axis/axis' // TODO refactor

edit()
cf()
// bp = desktop-cutoff//960px
desktop-cutoff = 1050px

.navigation
  background-color: #00a087
  height: 80px
  line-height: 80px
  a
    span(1/8)
    shift(1/8)
    text-align: center
    color white
    text-decoration none
  nav
    span(1/8)
    shift(5/8)
    a
      color white
      padding 0 30px
      text-decoration none
.intro
  background-image url(http://ironsummitmedia.github.io/startbootstrap-landing-page/img/intro-bg.jpg)// no-repeat center center
      // padding 0 2rem
  // ul
  //   span(2/8)
  //   shift(5/8)
  //   inline-list: 20px
// section
//   center(desktop-cutoff)
// aside
//   span(1/3)
//   +below(desktop-cutoff)
//     stack()
// article
//   span(2/3)
//   +below(desktop-cutoff)
//     stack()

  